* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

.mainContainer {
    min-height: 70vh;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

