.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.2em;
    margin-bottom: 2em;
    background-color: #333;
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo h1 {
    margin-left: .5em;
}

.linkItems {
    display: flex;
}

.linkItems li {
    margin-right: 1.3em;
}

.linkItems a {
    color: #fff;
    padding: .250em;
    transition: .4s;
    border-bottom: 2px solid transparent;
}

.linkItems a:hover {
    border-color: #fff;
}